@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1 {
    font-size: 45px;
}
body {
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
    background-color: rgb(1, 50, 14);
    color:white;
}


.container {
    float: left;
    /*margin-left: 250px;*/
    text-align: center;
    width: 40%;
    margin-left: 10%;
}
.ukko {
    float:left;
    /*margin-right: 400px;*/
    width: 40%;
    text-align: center;
    margin-right: 10% ;
}

.finger-paint-regular {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }